 
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Panaroma Creator</h1>
        <div class="row center">
          <h5 class="header col s12 light">A simple image stitching tool</h5>
        </div>
        <div class="row center">
         
          <%= button_to "Create your own panaroma", new_item_path, method: :get, class: "btn-large waves-effect waves-light teal lighten-1" %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag 'banner2.jpg' %></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">OpenCV framework</h5>

            <p class="light">We have used OpenCV C++ as our primary tool for implement image stitching algorithms.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Ruby on Rails</h5>

            <p class="light">By using ruby on rails, we have enabled user to experience a better performance as well as greate design.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Open source</h5>

            <p class="light">We have provided detailed documentation as well as source code of the application on Github, feel free to contribute to our website.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag 'banner1.jpg' %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
        </div>
      </div>

    </div>
  </div>


 
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">From KHTN2014 with love</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project for computer vision lecture.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Ngo Hung Dong</h5>
          <ul>
            <li><a class="white-text" href="#!">14520171@gm.uit.edu.vn</a></li>
            <li><a class="white-text" href="#!">fb.com/DongNgo1996</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Truong Phuc Anh</h5>
          <ul>
            <li><a class="white-text" href="#!">14520040@gm.uit.edu.vn</a></li>
            <li><a class="white-text" href="#!">fb.com/</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Ruby on Rails + OpenCV
      </div>
    </div>
  </footer>
