<div class="container">


  <div class="carousel">
    <% @items.each do |item| %>
    <%=link_to image_tag(item.pano, size: '300x300'),item, class: 'carousel-item'%>
    <% end %>
   
  </div>

</div>