<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col m8 offset-m2">

<%= image_tag @item.pano, class: "materialboxed"%>

<h4 class='center'> <strong><%=@item.name %></strong>  </h4>
</div>
</div>
</div>