<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">PANO</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%=items_url%>"><i class="material-icons left">perm_media</i>Gallery</a></li>
        <li><a href="<%=new_item_url%>"><i class="material-icons left">add</i>Create</a></li>
        <li><a href="https://github.com/dongngo0804/panorama"><i class="material-icons left">mode_edit</i>Github</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>